* {
    font-family: sans-serif;
    background-color: var(--background-dark);
}

/* :root {
    --background-dark: #3749c8;
    --background-light: rgb(216, 216, 216);
    --accent-primary: #C83791;
    --accent-primary-faded: #542b44;
    --accent-secondary: #C8B637;
    --accent-secondary-highlight: #fbffbe;

    --color-grey: rgb(158, 158, 158);
    --color-lightgrey: rgb(187, 187, 187);
    --accent-orange: #b87333;
    --highlight-orange: #b79b80;
    --obscure-background: rgba(73, 65, 65, 0.5);
} */


:root {
    --background-dark: #015901;
    --background-light: #32CD32;
    --accent-primary: #87CEEB;
    --accent-primary-faded: #8B4513;
    --accent-secondary: #C8B637;
    --accent-secondary-highlight: #fbffbe;

    --color-grey: rgb(158, 158, 158);
    --color-lightgrey: rgb(187, 187, 187);
    --accent-orange: #b87333;
    --highlight-orange: #b79b80;
    --obscure-background: rgba(73, 65, 65, 0.5);

    
    --secondary-blue: #87CEEB;
    --secondary-green: #32CD32;
}

.hidden {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--obscure-background);
    z-index: 9998; 
}

.greyscale {
    /* filter: grayscale(100%); */
    opacity: 0.2;
}

.option_selected {
    background-color: var(--accent-orange) !important;
}

.clickable {
    cursor: pointer;
}