:root{
    --background-dark: rgb(74, 62, 68);
    --background-medium: rgb(86, 83, 80);
    --background-light: rgb(112, 109, 106);
    --highlight-yellow-light: rgb(252, 248, 217);
    --highlight-yellow: rgb(250, 224, 83);
    --highlight-cyan: rgb(91, 185, 199);
    --highlight-cyan-light: rgb(218, 240, 244);
    --contrast-light: rgb(242, 242, 242);
    --contrast-dark: rgb(182, 171, 178);
}

* {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--highlight-cyan-light);
}

.hidden {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--obscure-background);
    z-index: 9998; 
}

.greyscale {
    /* filter: grayscale(100%); */
    opacity: 0.2;
}

.option_selected {
    background-color: var(--accent-orange) !important;
}

.clickable {
    cursor: pointer;
}